body {
    color: rgb(0,90,171);
    background-image: url("fabricBg.png");
    font-family: 'IBM Plex Serif', serif;
    cursor: context-menu;
}

.info {
    position: relative;
    display: inline-block;
    font-family: 'Lobster';
	font-size: 18px;
	color: rgb(50,53,52);
	cursor: wait;
}

.infotext {
    visibility: hidden;
    width: 255px;
    font-family: 'IBM Plex Serif', serif;
    background-color: rgba(50,53,52,0.8);
    color: rgb(135,206,250);
    text-align: center;
    border-radius: 6px;
    border-color: rgb(135,206,250);
    border-width: 1px;
    border-style: solid;
    padding: 5px 0;
    /* Position the info */
    position: absolute;
    z-index: 1;
}

.info:hover .infotext {
    visibility: visible;
}

.material-icons {
	font-size:18px;
	color: rgba(255, 215, 0,0.8);
	border-radius: 50px;
    border-color: rgb(135,206,250);
    border-width: 1px;
    border-style: solid;
}

.jumbotron {
	background-color: rgb(255,255,255);
	font-family: georgia;
	letter-spacing: 2.5px;
	color: rgb(255, 215, 0);
	text-shadow: 2px 1px;
	border-radius: 15px;
/*	border-style: solid;
	border-width: 2px;
	border-color: rgb(1,158,221);*/
	background-image:-webkit-linear-gradient(whitesmoke 0%, rgb(44,44,44) 100%);
    background-image:linear-gradient(whitesmoke 15%, rgb(44,44,44) 85%);
    margin-top: 15px;
}

 #getStarted{
	color: rgb(255, 215, 0);
	font-family: 'Do Hyeon', sans-serif;
	text-shadow: 1px 1px;
 }

.cell {
	border-style: solid;
	border-width: 2px;
	border-color: rgb(1,158,221);
	margin-top: 5px;
}

#inputs {
	background-color: rgb(173,216,230);
	background-image:-webkit-linear-gradient(#666666 0%, #f00000 100%);
    background-image:-o-linear-gradient(#666666 0%, #f00000 100%);
    background-image:linear-gradient(#666666 0%, #f00000 100%);
    color: rgb(255, 215, 0);
	font-weight: 900;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 25px;
}

#incomeTable {
	background-color: rgb(1,158,221);
	background-image:-webkit-linear-gradient(rgb(173,216,230) 0%, dodgerblue 100%);
    background-image:-o-linear-gradient(rgb(173,216,230) 0%, dodgerblue 100%);
    background-image:linear-gradient(rgb(173,216,230) 0%, dodgerblue 100%);
	border-color: rgb(173,216,230);
	border-radius: 7px;
	border-width: 10px;
	border-style: solid;
	margin-bottom: 20px; 
}

#budget {
	background-color: rgb(1,158,221);
	background-image:-webkit-linear-gradient(rgb(173,216,230) 0%, dodgerblue 100%);
    background-image:-o-linear-gradient(rgb(173,216,230) 0%, dodgerblue 100%);
    background-image:linear-gradient(rgb(173,216,230) 0%, dodgerblue 100%);
	border-color: rgb(173,216,230);
	border-radius: 7px;
	border-width: 10px;
	border-style: solid;
	margin-bottom: 20px;
}

#lumpSumTable {
	background-color: rgb(1,158,221);
	background-image:-webkit-linear-gradient(rgb(173,216,230) 0%, dodgerblue 100%);
    background-image:-o-linear-gradient(rgb(173,216,230) 0%, dodgerblue 100%);
    background-image:linear-gradient(rgb(173,216,230) 0%, dodgerblue 100%);
	border-color: rgb(173,216,230);
	border-radius: 7px;
	border-width: 10px;
	border-style: solid;
	margin-bottom: 40px;
}

/*#A10, #B10, #C10, #D10, #E10 {
	background-color: rgb(251,198,16);
	color: (255,255,255);
	font-size: 17px;
}*/